@import "tailwindcss";

@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "cupcake";
  default: true;
  --radius-selector: 0.3rem;
  --radius-field: 0.3rem;
  --radius-box: 0.3rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 2px;
  --depth: 1;
  --noise: 1;
}
