DEBUG=True
SECRET_KEY='secret'
HASHID_SALT='another_secret'
PROJECT_URL='http://localhost:8000'
DATABASE_URL="postgresql://user:pass@127.0.0.1:5432/db"

POSTGRES_DB='db'
POSTGRES_USER='user'
POSTGRES_PASSWORD='pass'

COMPOSE_PROJECT_NAME=awesome_app
