{% extends '_base.html' %}
{% load static %}
{% load thumbnail %}

{% block page_title %}{{ title }}{% endblock %}

{% block content %}
<section class="container mx-auto" id="hero">
<div class="h-[450px]">
    <div class="hero bg-base-200 min-h-full">
      <div class="hero-content text-center">
        <div class="max-w-md">
          <h1 class="text-5xl font-bold">{{ request.site.name }}</h1>
          <p class="py-6">
            {{ category.name }}
          </p>
        </div>
      </div>
    </div>
</div>
</section>

<section class="container mx-auto" id="highlights">
    <div class="my-3">
      <div class="flex flex-wrap gap-2">
          {% for group in object_list %}
            <a class="btn btn-primary p-3" href="/{{ category.category_id }}/{{ group.group_id }}">{{ group.name }}</a>
          {% endfor %}
      </div>
    </div>
</section>
{% endblock content %}
